*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    font-family: bebasNeue;
    text-align: center;
    align-content: center;
    background-color: #2a3e56;
    height: 75px;
   
}
main{
    height: 100vh; /*100% da tela*/
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    background-color:#f0eff4;
    flex-wrap: wrap;
}
@font-face{
    font-family: bebasNeue;

    src: url("assets/bebas_neue/BebasNeue-Regular.otf");
}
h1{
    font-family: bebasNeue;
}
h2{
    font-family: bebasNeue;
}
.nameSite{
    color: #f0eff4;
}
.logoLightiningVista{

}
.principal{
    border-radius: 8px;
    border: solid, #dedae0;
    background-color: #f0eff4;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 41%;
    
}
.foto {
    max-width: 75%;
    text-align: center;
    border-radius: 8px;
}
.foto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .foto:hover{
    transform: scale(1.05);
    transition: 1s;
  }
.assuntoPrimario{
    text-align: center;
    width: 100%;
    background-color: #dedae0;
    color:#2d3142;
}
.menuSecundary{
    border: solid, #dedae0;
    width: 40.5%;
    height: 375px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.secundary{
    width: 97%;
    height: 95px;
    display: flex;
    align-items: center;
}
.photoBox{
    width: 24%;
    height: 94px;

}
.secundaryPhoto{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}
.assuntoSecundario{
    background-color: #dedae0;
    color:#2d3142;
    margin-left: 10px;
    width: 72.5%;
    border-radius: 8px;
}
.photoBox :hover{
    transform: scale(1.05);
    transition: 1s;
}
.sponsor{
    background-color: #dedae0;
    width: 87.5%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.advertiseAAHW{
    width: 98%;
    height: 110px;
    display: flex;
    justify-content: center;
}
.sponsor :hover{
    transform: scale(1.005);
    transition: 1s;
}
.anuncioAAHW{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}
.displayNews{
    width: 87.5%;
    height: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #545454;
    flex-wrap: wrap;
}
.noticia{
    background-color: #2e2e2e;
    width: 47%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.subPhoto{
    width: 30%;
    height: 100%;
}
.smallPhoto{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 10px;
}
.assuntoTerciario{
    background-color: aqua;
    width: 65%;
    height: auto;
}
footer{
    text-align: center;
    align-content: center;
    color:#f0eff4;
    background-color: #2a3e56;
    height: 45px;
}